<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <!--注册中央调度器-->
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <!--要创建servlet对象，servlet是单例的-->
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--将如下配置封装到dispatcherServlet对象中-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>
    <!--服务器启动时首先读取web.xml文件，1表示启动时就创建web,xml中的dispatcherServlet对象，0表示使用时再创建-->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern><!--springmvc绝对不能陪在 /*-->
  </servlet-mapping>
</web-app>
